h1{
	color:blue;
	text-align: left;
	/*margin-left: 5px;  */
	padding: 5px;
}
.container
{   margin-top: 5px;
	background-color: grey;
}

#list{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 5px;
}