<!DOCTYPE HTML>
<html>
<head>  
<script>
window.onload = function () {
	
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	 zoomEnabled:true,
	
	title:{
		text:"No Of States Y By Countries",
		 fontColor: "orange",
	},
	axisX:{
		interval: 1
	},
	axisY2:{
		interlacedColor: "black",
		gridColor: "orange",
		title: "Number of States",
		 titleFontColor: "red"


	},
	data: [{
		type: "bar",
		name: "States",
		axisYType: "secondary",
		color: "pink",
		dataPoints: [
			{ y: 10, label: "Sweden", color:"orange" },
			{ y: 20, label: "Taiwan" , color:"white" },
			{ y: 12, label: "Russia" , color:"grey" },
			{ y: 30, label: "Spain"  , color:"sky"},
			{ y: 17, label: "Brazil" , color:"pink" },
			{ y: 31, label: "India"  , color:"blue"},
			{ y: 35, label: "Italy" , color:"yellow"},
			{ y: 40, label: "Australia" , color:"red" },
			
		]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>