<!DOCTYPE html>
<html>
<head>
	<title>Binary Search Operation</title>
</head>
<body>
<script type="text/javascript">
	
		function binarySearch11(arr,key,beg,end)
		{
            
             var mid = Math.floor((beg+end)/2);
             //console.log("Mid"+mid);
             if(beg>end) return false;
            if (arr[mid]===key) return true; 
             	
            
             	
             if(arr[mid]>key)
             {
             	return binarySearch11(arr,key,beg,mid-1);
             }
             else{	
             	return binarySearch11(arr,key,mid+1,end);
             }
            
             return false;

		}

	var arr=[1,3,6,8,19,40];
	if(binarySearch11(arr,2,0,5))
		console.log("Element Found");
	else{
		console.log("Element not Found");
	}
   



</script>
</body>
</html>